<!-- NAVBAR -->
<% if ((activeTab === 'dashboard' || activeTab === 'profile' || activeTab === 'history') && !timerInfo) { %>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>
    const socket = io();
    socket.on('mqttMessage', (payload) => {
        if (payload.topic === "MYMQTTDRYER/ESPState") {
            const espState = payload.message;
            document.getElementById('espState').innerText = `${espState}`;
        }
    });
</script>
<% }%>
<nav>
    <i class='bx bx-menu' ></i>
    <input type="checkbox" id="switch-mode" hidden>
    <a href="#" class="profile" data-bs-toggle="modal" data-bs-target="#UpdateUser<%= UserDetail._id %>">
        <img style="border: 1px black solid;" src="<%= UserDetail.ProfileImage ? UserDetail.ProfileImage : 'uploads/Default.webp' %>" alt="Profile Image">
    </a>
    <form action="#">
        <span><%= UserDetail.FullName %></span>
    </form>
    <div>
        Dryer:
        <strong class="form-text" id="espState">
         Loading...
        </strong>
    </div>
</nav>
<!-- NAVBAR -->
