<!-- NAVBAR -->
<nav>
    <input type="text" name="" id="" value="<%= UserDetail._id%>">
    <i class='bx bx-menu' ></i>
    <a href="/Dashboard" class="nav-link">Home</a>
    <form action="#">
        <div class="form-input">
            <input type="search" placeholder="Search...">
            <button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
        </div>
    </form>
    <input type="checkbox" id="switch-mode" hidden>
    <!-- <label for="switch-mode" class="switch-mode"></label> Dark Mode -->
    <a href="#" class="notification">
        <i class='bx bxs-bell' ></i>
        <span class="num">8</span>
    </a>
    <a href="#" class="profile">
        <img src="<%= UserDetail.ProfileImage%>">
    </a>
</nav>
<!-- NAVBAR -->