<!-- NAVBAR -->
<nav>
    <i class='bx bx-menu' ></i>
    <a href="/Dashboard" class="nav-link">Home</a>
    <form action="#">
    </form>
    <input type="checkbox" id="switch-mode" hidden>
    <!-- <label for="switch-mode" class="switch-mode"></label> Dark Mode -->
    <!-- Button trigger modal -->
<a href="#" class="profile" data-bs-toggle="modal" data-bs-target="#UpdateUser<%= UserDetail._id %>">
    <img src="<%= UserDetail.ProfileImage ? UserDetail.ProfileImage : 'uploads/Default.webp' %>" alt="Profile Image">
</a>

</nav>
<!-- NAVBAR -->