<!-- MAIN -->
<ul class="box-info">

	<button style="border: 0px;">
		<li class="group-a">
			<i class='bx bxs-stopwatch' ></i>
			<span class="text">
				<p class="text-a">Off</p>
			</span>
		</li>
	</button>

	<button style="border: 0px;">
	<li class="group-a">
		<i class='bx bxs-sun' ></i>
		<span class="text">
			<p class="text-a">Solar</p>
		</span>
	</li>
	</button>

	<button style="border: 0px;">
	<li class="group-a">
		<i class='bx bxs-bolt' ></i>
		<span class="text">
			<p class="text-a">AC</p>
		</span>
	</li>
	</button>

		
	<li class="group-b" style="height: 128px;">
		<i class='bx bxs-hourglass-bottom' ></i>
		<span class="text">
			<!--<h3>$2543</h3>-->
			<select class="input-b" style="margin-top: 20px;">
				<option value="">Off</option>
				<option value="automatic">Automatic</option>
				<option value="manual">Manual</option>
			</select>
			<p class="text-b">Mode</p>
		</span>
	</li>
</ul>
<!-- MAIN -->