<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download PDF</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.1/css/boxicons.min.css" integrity="sha512-MzRYI9BF/9sTgGnEqlxRd4+HgA+sh7l/PYdSRUJ2sT9v8e0vXJkl5gQ/uhHArMx3tL8b2bgtB2bc7TWQcc1Jcw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <a href="/download-all-pdf" class="btn-download">
        <i class='bx bxs-cloud-download'></i>
        <span class="text">Download All PDF</span>
    </a>
</body>
</html>
